# role: ethpandaops.general.bootstrap
bootstrap_default_user_authorized_keys_github_team_el:
  - garyschulte
  - jflo
  - fab-10
  - matkt
  - gezero
  - siladu
  - pinges
  - jframe
  - ahamlat
  - Gabriel-Trintinalia

# role: ethpandaops.general.ethereum_node
ethereum_node_el: besu
# role: ethpandaops.general.besu
besu_container_name: execution
besu_container_image: "{{ default_ethereum_client_images.besu }}"
besu_container_env:
  VIRTUAL_HOST: "{{ ethereum_node_rcp_hostname }}"
  VIRTUAL_PORT: "{{ ethereum_node_el_ports_http_rpc | string }}"
  LETSENCRYPT_HOST: "{{ ethereum_node_rcp_hostname }}"
besu_container_volumes:
  - "{{ besu_datadir }}:/data"
  - "{{ besu_auth_jwt_path }}:/execution-auth.jwt:ro"
  - "{{ eth_testnet_config_dir }}:/network-config:ro"
besu_container_command_extra_args:
  - --genesis-file=/network-config/besu.json
  - --bootnodes={{ ethereum_el_bootnodes | join(',') }}
  - --rpc-http-api=ADMIN,DEBUG,ETH,MINER,NET,TRACE,TXPOOL,WEB3
  - --version-compatibility-protection=false
  - --target-gas-limit=5000000000
  - --sync-mode=SNAP
  - --sync-min-peers=1
  - --static-nodes-file=/network-config/static-nodes.json
  - --bonsai-limit-trie-logs-enabled=false
  #- --required-block=23115201=0x88b0d56cc14c5232cdf6238c7252ca953e505f2a44ee60374f2bafb18bf067bf
  - --network-id={{ shadowfork_network_id }}
  - --cache-last-block-headers-preload-enabled=true
  - --cache-last-block-headers=15000
  - --Xplugin-rocksdb-high-spec-enabled=true
besu_container_pull: true

prometheus_config: |
  global:
    scrape_interval: 12s
    evaluation_interval: 30s
    scrape_timeout: 10s
    external_labels:
      instance: "{{ ethereum_network_name }}-{{ inventory_hostname }}"
      ip_address: "{{ ansible_host }}"
      network: "{{ ethereum_network_name }}"
      testnet: "{{ ethereum_network_name }}"
      execution_client: "{{ ethereum_node_el }}"
      consensus_client: "{{ ethereum_node_cl }}"
  remote_write:
    - queue_config:
        batch_send_deadline: 5s
        max_backoff: 500ms
        max_samples_per_send: 500
        min_backoff: 50ms
        max_shards: 100
      url: {{ prometheus_remote_push_url }}
      remote_timeout: 10s
      basic_auth:
        username: {{ prometheus_remote_write_username }}
        password: {{ prometheus_remote_write_password }}
  scrape_configs:
    - job_name: "prometheus"
      metrics_path: "/metrics"
      static_configs:
        - targets: ["localhost:9090"]
          labels:
            instance: "{{ ethereum_network_name }}-{{ inventory_hostname }}"
    - job_name: "node"
      metrics_path: "/metrics"
      static_configs:
        - targets: ["172.17.0.1:9100"]
          labels:
            instance: "{{ ethereum_network_name }}-{{ inventory_hostname }}"
    - job_name: "exporter"
      metrics_path: "/metrics"
      static_configs:
        - targets: ["ethereum-metrics-exporter:9090"]
          labels:
            instance: "{{ ethereum_network_name }}-{{ inventory_hostname }}"
    - job_name: "consensus_node"
      metrics_path: "/metrics"
      static_configs:
        - targets: ["{{ vars[ethereum_node_cl + '_container_name'] }}:{{ ethereum_node_cl_ports_metrics }}"]
          labels:
            instance: "{{ ethereum_network_name }}-{{ inventory_hostname }}"
    - job_name: "execution"
      metrics_path: "/metrics"
      static_configs:
        - targets: ["execution:{{ ethereum_node_el_ports_metrics }}"]
          labels:
            instance: "{{ ethereum_network_name }}-{{ inventory_hostname }}"
    - job_name: "snooper"
      scrape_interval: "1s"
      static_configs:
        - targets:
            - "snooper-rpc:9090"
            - "snooper-engine:9090"
          labels:
            instance: "{{ ethereum_network_name }}-{{ inventory_hostname }}"
